<a href="https://colab.research.google.com/github/saipavan3009/ADM_2303A51117/blob/main/ADM_LAB_6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [39]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder, OneHotEncoder
from datetime import datetime

In [40]:
data={'Category': ['A', 'B', 'C', 'A', 'B']}
df=pd.DataFrame(data)

In [41]:
label_encoder=LabelEncoder()
df['Label_Encoder'] = label_encoder.fit_transform(df['Category'])

In [42]:
one_hot_encoded=pd.get_dummies(df['Category'], prefix='Category')
df=pd.concat([df, one_hot_encoded], axis=1)

In [43]:
print(df)

  Category  Label_Encoder  Category_A  Category_B  Category_C
0        A              0        True       False       False
1        B              1       False        True       False
2        C              2       False       False        True
3        A              0        True       False       False
4        B              1       False        True       False

In [44]:
data={'Name': ['Alice', 'Bob'], 'Date_of_Birth': ['1990-05-14', '1985-08-23']}
df=pd.DataFrame(data)

In [45]:
df['Date_of_Birth']=pd.to_datetime(df['Date_of_Birth'])

In [46]:
current_year = datetime.now().year
df['Age']=current_year - df['Date_of_Birth'].dt.year
print(df)

    Name Date_of_Birth  Age
0  Alice    1990-05-14   35
1    Bob    1985-08-23   40

In [47]:
data={'Category': ['A', 'A', 'B', 'B', 'C'], 'Value': [10, 20, 10, 30, 40]}
df=pd.DataFrame(data)

In [48]:
grouped = df.groupby('Category')
print("Grouped Date:\n", grouped)

Grouped Date:
 <pandas.core.groupby.generic.DataFrameGroupBy object at 0x78cb575e8e10>

In [49]:
pivot = df.pivot_table(index='Category', values='Value', aggfunc=['sum', 'mean'])
print("\nPivot Table:\n", pivot)

Pivot Table:
            sum  mean
         Value Value
Category
A           30  15.0
B           40  20.0
C           40  40.0